*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

Kelompok 13_Laporan Praktikum Jarkom.aux
Kelompok 13_Laporan Praktikum Jarkom.fdb_latexmk
Kelompok 13_Laporan Praktikum Jarkom.fls
Kelompok 13_Laporan Praktikum Jarkom.log
Kelompok 13_Laporan Praktikum Jarkom.out
Kelompok 13_Laporan Praktikum Jarkom.synctex.gz
